{% extends "base.html" %}
{% block content %}
<h2 class="title">Registro</h2>
{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
<form method="post" class="card p-3 form-card">
    <label>Usuario</label>
    <input name="username" class="form-control mb-2" required>
    <label>Email</label>
    <input name="email" type="email" class="form-control mb-2" required>
    <label>Contrasena</label>
    <input name="password" type="password" class="form-control mb-3" required>
    <button class="btn btn-success"><i class="bi bi-person-plus"></i> Registrarse</button>
</form>
{% endblock %}
